<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793053963173-5ivchb7m0dru9egeq86d3lroljgmbqvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793053963173-5ivchb7m0dru9egeq86d3lroljgmbqvs</string>
	<key>API_KEY</key>
	<string>AIzaSyCb5JfSXY5_p3fwMoyYJwh0nNTWGIjJ9vQ</string>
	<key>GCM_SENDER_ID</key>
	<string>793053963173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProject</string>
	<key>PROJECT_ID</key>
	<string>flutter-project-a6ccc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-project-a6ccc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793053963173:ios:992b0d8ffe5c456994be4c</string>
</dict>
</plist>